In [1]:
import pandas as pd

dfi1 = pd.read_excel('SINAPI_Preco_Ref_Insumos_DF_102020_Desonerado.XLS')

In [2]:
dfi1.columns=dfi1.loc[5]
dfi2=dfi1.loc[6:]
dfi2

5,CODIGO,DESCRICAO DO INSUMO,UNIDADE,ORIGEM DO PRECO,PRECO MEDIANO R$
6,13003,!EM PROCESSO DE DESATIVACAO! AGUA SANITARIA,L,CR,"2,25"
7,41758,!EM PROCESSO DE DESATIVACAO! CADEADO EM ACO IN...,UN,CR,"129,63"
8,1363,!EM PROCESSO DE DESATIVACAO! CHAPA DE MADEIRA ...,M2,C,"19,89"
9,1344,!EM PROCESSO DE DESATIVACAO! CHAPA DE MADEIRA ...,UN,CR,"41,57"
10,1342,!EM PROCESSO DE DESATIVACAO! CHAPA DE MADEIRA ...,UN,CR,"73,49"
...,...,...,...,...,...
5283,41096,VIGIA DIURNO (MENSALISTA),MES,CR,"1.759,53"
5284,41776,"VIGIA NOTURNO, HORA EFETIVAMENTE TRABALHADA DE...",H,CR,"13,52"
5285,11157,WASH PRIMER PARA TINTA AUTOMOTIVA,GL,CR,"129,93"
5286,NaN,NaN,NaN,NaN,NaN
5287,TOTAL DE INSUMOS : 5280,NaN,NaN,NaN,NaN

In [3]:
dfi2['  PRECO MEDIANO R$'] = dfi2['  PRECO MEDIANO R$'].apply(lambda x: str(x).replace(".",""))
dfi2['  PRECO MEDIANO R$'] = dfi2['  PRECO MEDIANO R$'].apply(lambda x: str(x).replace(",","."))
dfi2['  PRECO MEDIANO R$'] = dfi2['  PRECO MEDIANO R$'].astype('float64')

<ipython-input-3-e532665f8177>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfi2['  PRECO MEDIANO R$'] = dfi2['  PRECO MEDIANO R$'].apply(lambda x: str(x).replace(".",""))
<ipython-input-3-e532665f8177>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfi2['  PRECO MEDIANO R$'] = dfi2['  PRECO MEDIANO R$'].apply(lambda x: str(x).replace(",","."))
<ipython-input-3-e532665f8177>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfi2['  PRECO MEDIANO R$'] = dfi2['  PRECO MEDIANO R$'].astype('float64')

In [4]:
dfi2

5,CODIGO,DESCRICAO DO INSUMO,UNIDADE,ORIGEM DO PRECO,PRECO MEDIANO R$
6,13003,!EM PROCESSO DE DESATIVACAO! AGUA SANITARIA,L,CR,2.25
7,41758,!EM PROCESSO DE DESATIVACAO! CADEADO EM ACO IN...,UN,CR,129.63
8,1363,!EM PROCESSO DE DESATIVACAO! CHAPA DE MADEIRA ...,M2,C,19.89
9,1344,!EM PROCESSO DE DESATIVACAO! CHAPA DE MADEIRA ...,UN,CR,41.57
10,1342,!EM PROCESSO DE DESATIVACAO! CHAPA DE MADEIRA ...,UN,CR,73.49
...,...,...,...,...,...
5283,41096,VIGIA DIURNO (MENSALISTA),MES,CR,1759.53
5284,41776,"VIGIA NOTURNO, HORA EFETIVAMENTE TRABALHADA DE...",H,CR,13.52
5285,11157,WASH PRIMER PARA TINTA AUTOMOTIVA,GL,CR,129.93
5286,NaN,NaN,NaN,NaN,NaN
5287,TOTAL DE INSUMOS : 5280,NaN,NaN,NaN,NaN